@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(/src/assets/fonts/webfontkit/stylesheet.css);

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quasimoda-Light";
  scroll-behavior: smooth;
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-xl;
}

.hero_section {
  height: calc(100vh - 165px);
}
@media (min-width: 1024px) {
  @media (min-height: 1117px) {
    .hero_section {
      height: 727px;
    }
  }
}

@media (max-width : 1024px) {

  .hero_section {
    height: 727px;
  }
  @media (max-height : 1024px) {
    .hero_section {
      height: calc(100vh - 106px);
    }
  }
}

@media (max-width : 640px) {
  .hero_section {
    /* height: calc(100vh - 106px); */
    height: 100%;
  }
}