@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(/src/assets/fonts/webfontkit/stylesheet.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quasimoda-Light";
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-xl;
}